<!--Header-->
{% include "header.html" %}
            <!-- Projects Section-->
            <section class="py-5">
                <div class="container px-5 mb-5">
                    <div class="text-center mb-5">
                        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">About Me</span></h1>
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-11 col-xl-9 col-xxl-8">
                                <!-- Project Card 0-->
                            <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                                <div class="card-body p-0">
                                    <div class="d-flex align-items-center">
                                        <div class="p-5">
                                            <h2 class="fw-bolder">Personalia</h2>
                                            <p>Mijn naam is Jelske van Spijk - van Herwijnen en ben 33 jaar. Ik ben samen met Yoram van Spijk. Wij wonen in Dordrecht, Zuid-Holland.</p>
                                        </div>
                                        <img class="img-fluid" src="static/jelske.jpg" alt="..." />
                                    </div>
                                </div>
                            </div>
                            <!-- Project Card 1-->
                            <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                                <div class="card-body p-0">
                                    <div class="d-flex align-items-center">
                                        <div class="p-5">
                                            <h2 class="fw-bolder">Familie</h2>
                                            <p>Dit zijn Yoram en ik! We zijn 12,5 jaar samen! We houden beide van technologie en Games. Dice Throne is één van onze favoriete spellen! </p>
                                        </div>
                                        <img class="img-fluid" src="static/2.jpg" alt="..." />
                                    </div>
                                </div>
                            </div>
                            <!-- Project Card 2-->
                            <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                                <div class="card-body p-0">
                                    <div class="d-flex align-items-center">
                                        <div class="p-5">
                                            <h2 class="fw-bolder">Honden</h2>
                                            <p>Wij hebben twee honden, genaamd: Thor en Loki. Loki is de wat ontdeugende van de twee! ⚡ </p>
                                        </div>
                                        <img class="img-fluid" src="static/1.jpg" alt="..." />
                                    </div>
                                </div>
                            </div>
                            <!-- Project Card 2-->
                            <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                                <div class="card-body p-0">
                                    <div class="d-flex align-items-center">
                                        <div class="p-5">
                                            <h2 class="fw-bolder">Mellophone</h2>
                                            <p>Ik speel sinds mijn 9e op een blaasinstrument bij Jubal Drum & Bugle Corps. Na een jaartje trompet, had ik al snel de Mellophone gezien en wilde niets anders dan dat. Ik heb met Jubal getourd door Europa en de Verenigde Staten. Mijn laatste tour was naar Amerika in 2018 met als hooogtepunten Chicago, Indianapolis & Drum Corps International (DCI). Ik zal ook nooit de tours door Italië vergeten!</p>
                                            <img src="static/jubal.png" width="100">
                                        </div>
                                        <img class="img-fluid" src="static/3.jpg" alt="..." />
                                    </div>
                                </div>
                            </div>
                            <!-- Project Card 3-->
                            <div class="card overflow-hidden shadow rounded-4 border-0">
                                <div class="card-body p-0">
                                    <div class="d-flex align-items-center">
                                        <div class="p-5">
                                            <h2 class="fw-bolder">Hoorn</h2>
                                            <p>Ik speel sinds 2019 bij het Dordrechts Philharmonisch Orkest.</p>
                                        <img src="static/phil.png" width="200">
                                        </div>
                                        <img class="img-fluid" src="static/4.jpg" alt="..." />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Call to action section-->
            <section class="py-5 bg-gradient-primary-to-secondary text-white">
                <div class="container px-5 my-5">
                    <div class="text-center">
                        <h2 class="display-4 fw-bolder mb-4">Let's build something together</h2>
                        <a class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder" href="contact.html">Contact me</a>
                    </div>
                </div>
            </section>
        </main>
        <!-- Footer-->
<!-- Footer-->
{% include "footer.html" %}
