<!--Header-->
{% include "header.html" %}
<!-- Page Content-->
<div class="container px-5 my-5" xmlns="http://www.w3.org/1999/html">
    <div class="container" align="center"><img class="rounded-circle" src="static/profile2.jpg" height="150"></div>
    <div class="text-center mb-5">
        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Resume</span></h1>
    </div>
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-11 col-xl-9 col-xxl-8">
            <!-- Experience Section-->
            <section>
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h2 class="text-gradient d-inline fw-bolder mb-0">Werkervaring</h2>
                    <!-- Download resume button-->
                    <!-- Note: Set the link href target to a PDF file within your project-->
                    <a class="btn btn-primary px-4 py-3" href="static/Jelske van Spijk - van Herwijnen_CV AUG24.pdf">
                        <div class="d-inline-block bi bi-download me-2"></div>
                        Download Resume
                    </a>
                </div>
                <!-- Experience Card 1-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-9">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0 ">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="mt-2"><img src="static/dolfijn.png" width="150"></div>

                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div>
                                    <div class="text-dark fw-bolder mb-2">Leerkracht Basisonderwijs</div>
                                    OBS De Dolfijn, Zwijndrecht, Zuid-Holland
                                    <li>Werkervaring in de midden- en bovenbouw</li>
                                    <li>Specialist Meer- en Hoogbegaafdheid</li>
                                    <li>Taal in Blokjes</li>
                                    <div class="small fw-medium">2023 - heden</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--                            -->
                <!-- Experience Card 2-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-9">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="mt-2"><img src="static/watervlinder.png" width="175"></div>
                                    <!--                                                <div class="small text-muted">Hendrik-Ido-Ambacht, Zuid-Holland</div>-->
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div>
                                    <div class="text-dark fw-bolder mb-2">Leerkracht Basisonderwijs</div>
                                    <p>SOL De Watervlinder, Hendrik-Ido-Ambacht, Zuid-Holland</p>
                                    <li>Werkervaring in de middenbouw en Plusklas.</li>
                                    <li>Specialist meer- en hoogbegaahdheid</li>
                                    <li>Coördinator Onderzoekend en Ontwerpend leren.</li>
                                    <div class="small fw-medium">2017-2023</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Education Section-->
            <section>
                <h2 class="text-gradient d-inline fw-bolder mb-4">Opleidingen</h2>
                <!-- Education Card 1-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-9">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">

                                    <div class="mb-2">
                                        <div class="mt-2"><img src="static/marnix.webp" width="175"></div>
                                    </div>
                                    <div class="fst-italic">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div>
                                    <div class="text-dark fw-bolder mb-2">Coördinator Onderzoekend en Ontwerpend Leren
                                    </div>
                                    <p>Marnix Onderwijscentrum, Utrecht</p>
                                    <p>Wetenschap en technologie</p>
                                    <div class="small fw-medium">2020 - 2021</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--                            -->
                <!-- Education Card 1-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-9">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">

                                    <div class="mb-2">
                                        <div class="mt-2"><img src="static/wijssein.png" width="100"></div>
                                    </div>
                                    <div class="fst-italic">

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div>
                                    <div class="text-dark fw-bolder mb-2">Specialist Meer - en Hoogbegaafdheid</div>
                                    <div class="small fw-medium">2018 - 2019</div>
                                </div>
                            </div>
                            <p></p>

                        </div>
                    </div>
                </div>
                <!--                            -->
                <!-- Education Card 1-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-9">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="mb-2">
                                    </div>
                                    <div class="fst-italic">
                                        <div class="mt-2"><img src="static/hro.svg" width="75"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-8">
                                <div>
                                    <div class="text-dark fw-bolder mb-2">Leerkracht Basisonderwijs</div>
                                    <p>Klassenvertegenwoordiger</p>
                                    <p>Specialisatie Wetenschap & Techniek</p>
                                    <div class="small fw-medium">2013 - 2017 | Diploma</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--                            -->
                <!-- Education Card 2-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-9">
                        <div class="row align-items-center gx-5 ">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">

                                    <div class="mb-2">
                                    </div>
                                    <div class="fst-italic">
                                        <div class="mt-2"><img src="static/glr.png" width="75"></div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="text-dark fw-bolder mb-2">Grafisch Vormgeven Interactief</div>
                                <div>
                                    <li>Specialisatie: Animatie</li>
                                    <li>Adobe Creative Suite (o.a. Photoshop, Illustrator, Indesign)</li>
                                    <li>Autodesk 3dsMax</li>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Divider-->
            <div class="pb-5"></div>

            <!-- CURSUSSEN Section-->
            <section>
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h2 class="text-gradient d-inline fw-bolder mb-0">Cursussen</h2>
                </div>
                <!-- Experience Card 1-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-9">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0 ">
                                <div class="bg-light p-4 rounded-4">


                                    <div class="mt-2"><img src="static/udemy.png" width="100"></div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div>
                                    <div class="text-dark fw-bolder mb-2">Microsoft Excel - Excel from beginner to
                                        advanced
                                    </div>
                                    <p>21 uur cursus door Kyle Pew | </p>
                                    <div class="small fw-medium">augustus 2024 | Certificaat</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Experience Card 1-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-9">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0 ">
                                <div class="bg-light p-4 rounded-4">


                                    <div class="mt-2"><img src="static/udemy.png" width="100"></div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div>
                                    <div class="text-dark fw-bolder mb-2">100 days of code: The complete Python Pro
                                        Bootcamp
                                    </div>
                                    <p>56,5 uur cursus door Dr. Angela Yu | op 70% </p>
                                    <p>Voortgang op 70%</p>
                                    <div class="small fw-medium">2024 - heden</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Experience Card 1-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-9">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0 ">
                                <div class="bg-light p-4 rounded-4">

                                    <div class="mt-2"><img src="static/harvard.webp" width="150"></div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div>
                                    <div class="text-dark fw-bolder mb-2">CS50's Introduction to Programming with
                                        Python
                                    </div>
                                    <p>Cursus door David Malan</p>
                                    <p>voortgang op 96%</p>
                                    <div class="small fw-medium">2024 - heden</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Skills Section-->
                <section>
                    <!-- Skillset Card-->
                    <div class="card shadow border-0 rounded-4 mb-5">
                        <div class="card-body p-5">

                            <!-- Professional skills list-->
                            <div class="mb-5">
                                <div class="d-flex align-items-center mb-4">

                                    <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                             fill="currentColor" class="bi bi-award-fill" viewBox="0 0 16 16">
                                            <path d="m8 0 1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864z"/>
                                            <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1z"/>
                                        </svg>

                                        </i></div>
                                    <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Kenmerken</span>
                                    </h3>
                                </div>
                                <div class="row text-nowrap my-4">
                                    <div class="col mb-4 mb-md-0 my-2">
                                        <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                            doelgericht
                                        </div>
                                    </div>
                                    <div class="col mb-4 mb-md-0 my-2">
                                        <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                            vastberadenheid
                                        </div>
                                    </div>
                                    <div class="col mb-4 mb-md-0 my-2">
                                        <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                            doorzettingsvermogen
                                        </div>
                                    </div>
                                    <div class="col mb-4 mb-md-0 my-2">
                                        <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                            oplossingsgericht
                                        </div>
                                    </div>
                                    <div class="col mb-4 mb-md-0 my-2">
                                        <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">leergierig
                                        </div>
                                    </div>
                                    <div class="col mb-4 mb-md-0 my-2">
                                        <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">opmerkzaam
                                        </div>
                                    </div>
                                    <div class="col mb-4 mb-md-0 my-2">
                                        <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">innovatief
                                        </div>
                                    </div>
                                    <div class="col mb-4 mb-md-0 my-2">
                                        <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">zorgvuldig
                                        </div>
                                    </div>
                                    <div class="col mb-4 mb-md-0 my-2">
                                        <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">kritisch
                                        </div>
                                    </div>
                                    <div class="col mb-4 mb-md-0 my-2">
                                        <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">behulpzaam
                                        </div>
                                    </div>
                                    <div class="col mb-4 mb-md-0 my-2">
                                        <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                            teamgericht
                                        </div>
                                    </div>
                                    <div class="col mb-4 mb-md-0 my-2">
                                        <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                            betrouwbaar
                                        </div>
                                    </div>
                                    <div class="col mb-4 mb-md-0 my-2">
                                        <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">creatief
                                        </div>
                                    </div>
                                    <div class="col mb-4 mb-md-0 my-2">
                                        <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                            doortastend
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--                                    -->
                    <!-- Software  list-->
                    <div class="card shadow border-0 rounded-4 mb-5">
                        <div class="card-body p-5">
                            <div class="mb-5">
                                <div class="d-flex align-items-center mb-4">
                                    <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                             fill="currentColor" class="bi bi-disc-fill" viewBox="0 0 16 16">
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-6 0a2 2 0 1 0-4 0 2 2 0 0 0 4 0M4 8a4 4 0 0 1 4-4 .5.5 0 0 0 0-1 5 5 0 0 0-5 5 .5.5 0 0 0 1 0m9 0a.5.5 0 1 0-1 0 4 4 0 0 1-4 4 .5.5 0 0 0 0 1 5 5 0 0 0 5-5"/>
                                        </svg>
                                        <i class="bi bi-tools"></i></div>
                                    <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Software</span></h3>
                                </div>
                                <div class="row row-cols-1 row-cols-md-3 mb-4">
                                    <div class="col mb-4 mb-md-0">
                                        <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                            <img class="mx-2" src="static/pycharm.png" height="25">
                                            Pycharm
                                            <img class="mx-2" src="static/new.png" height="50"></div>
                                    </div>
                                    <div class="col mb-4 mb-md-0">
                                        <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                            <img class="mx-2" src="static/vsc.png" height="25">
                                            Visual Studio Code
                                            <img class="mx-2" src="static/new.png" height="50"></div>
                                    </div>
                                    <div class="col">
                                        <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                            <img class="mx-2" src="static/adobe.png" height="25">
                                            Adobe Software Creative Cloud
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-cols-1 row-cols-md-3">
                                    <div class="col mb-4 mb-md-0">
                                        <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                            <img class="mx-2" src="static/3dsmax.png" height="25">
                                            Autodesk 3dsMax
                                        </div>
                                    </div>
                                    <div class="col mb-4 mb-md-0">
                                        <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                            <img class="mx-2" src="static/canva.png" height="25">
                                            Canva
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                            <img class="mx-2" src="static/excel.png" height="25">
                                            Microsoft Excel
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--                                    -->
                    <!-- Languages list-->
                    <div class="card shadow border-0 rounded-4 mb-5">
                        <div class="card-body p-5">
                            <div class="mb-0">
                                <div class="d-flex align-items-center mb-4">
                                    <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                             fill="currentColor" class="bi bi-braces" viewBox="0 0 16 16">
                                            <path d="M2.114 8.063V7.9c1.005-.102 1.497-.615 1.497-1.6V4.503c0-1.094.39-1.538 1.354-1.538h.273V2h-.376C3.25 2 2.49 2.759 2.49 4.352v1.524c0 1.094-.376 1.456-1.49 1.456v1.299c1.114 0 1.49.362 1.49 1.456v1.524c0 1.593.759 2.352 2.372 2.352h.376v-.964h-.273c-.964 0-1.354-.444-1.354-1.538V9.663c0-.984-.492-1.497-1.497-1.6M13.886 7.9v.163c-1.005.103-1.497.616-1.497 1.6v1.798c0 1.094-.39 1.538-1.354 1.538h-.273v.964h.376c1.613 0 2.372-.759 2.372-2.352v-1.524c0-1.094.376-1.456 1.49-1.456V7.332c-1.114 0-1.49-.362-1.49-1.456V4.352C13.51 2.759 12.75 2 11.138 2h-.376v.964h.273c.964 0 1.354.444 1.354 1.538V6.3c0 .984.492 1.497 1.497 1.6"/>
                                        </svg>
                                        <i class="bi bi-code-slash"></i></div>

                                    <h3 class="fw-bolder mb-0"><span
                                            class="text-gradient d-inline">Programmeertalen</span></h3>
                                </div>
                                <div class="row row-cols-1 row-cols-md-3 mb-4">

                                    <div class="col mb-4 mb-md-0">
                                        <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                            <img class="mx-2" src="static/python.png" height="25">
                                            Python
                                            <img class="mx-2" src="static/new.png" height="50"></div>
                                    </div>

                                    <div class="col mb-4 mb-md-0">
                                        <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                            <img class="mx-2" src="static/css.png" height="25">
                                            CSS
                                            <img class="mx-2" src="static/new.png" height="50"></div>
                                    </div>

                                    <div class="col">
                                        <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                            <img class="mx-2" src="static/html.png" height="25">
                                            HTML
                                            <img class="mx-2" src="static/new.png" height="50"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Professional skills list-->
                    <div class="card shadow border-0 rounded-4 mb-5">
                        <div class="card-body p-5">

                            <div class="d-flex align-items-center mb-4">
                                <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                         class="bi bi-translate" viewBox="0 0 16 16">
                                        <path d="M4.545 6.714 4.11 8H3l1.862-5h1.284L8 8H6.833l-.435-1.286zm1.634-.736L5.5 3.956h-.049l-.679 2.022z"/>
                                        <path d="M0 2a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v3h3a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-3H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zm7.138 9.995q.289.451.63.846c-.748.575-1.673 1.001-2.768 1.292.178.217.451.635.555.867 1.125-.359 2.08-.844 2.886-1.494.777.665 1.739 1.165 2.93 1.472.133-.254.414-.673.629-.89-1.125-.253-2.057-.694-2.82-1.284.681-.747 1.222-1.651 1.621-2.757H14V8h-3v1.047h.765c-.318.844-.74 1.546-1.272 2.13a6 6 0 0 1-.415-.492 2 2 0 0 1-.94.31"/>
                                    </svg>
                                    <i class="bi bi-tools"></i></div>
                                <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Talen</span></h3>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3 mb-4">
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Nederlands</div>
                                </div>
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Engels</div>
                                </div>
                            </div>
                        </div>

                        <!--                                        -->

                    </div>

                </section>
            </section>
        </div>
    </div>
    </section>
</div>
</div>
</div>
</main>
<!-- Footer-->
<!-- Footer-->
{% include "footer.html" %}
